/*.*
/data/
/locales/
/node/*
!/node/.gitkeep
/php/*
!/php/.gitkeep
!/php/php.ini
/puppeteer/node_modules/
/puppeteer/package-lock.json
/puppeteer/yarn.lock
/webcache/
!/.gitignore
!/settings.json
!/README.md
/screenshots/
/tmp/
/dist/
!/build.php
